.sidebar {
  position: fixed;
  z-index: 1;

  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: 1px solid #FFE2F2;
  overflow: hidden;
}

.sidebarMenu {
  width: calc(100% + 20px);
  height: 100%;
  overflow-y: scroll;
}

.sidebarMenuItem {
  position: relative;
  height: 50px;
}

.sidebarMenuItem::hover{
  height: auto;
}

.sidebarMenuItem > div {
  position: relative;
  width: 300px;
  height: 50px;
  padding: 10px 10px 10px 60px;
  line-height: 30px;
}

.sidebarMenuItem > div:hover {
  background: #FFE2F2;
}

.sidebarMenuItem::before {
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  width: 40px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-family: 'FontAwesome';
  text-align: center;
  z-index: 1;
}

.sidebarMenuItem.smile::before  { content: '\f118'; }
.sidebarMenuItem.bike::before   { content: '\f206'; }
.sidebarMenuItem.star::before   { content: '\f005'; }
.sidebarMenuItem.hand::before   { content: '\f258'; }
.sidebarMenuItem.bolt::before   { content: '\f0e7'; }
.sidebarMenuItem.circle::before { content: '\f22d'; }
.sidebarMenuItem.moon::before   { content: '\f186'; }
.sidebarMenuItem.bird::before   { content: '\f099'; }
.sidebarMenuItem.angle::before  { content: '\f102'; }
.sidebarMenuItem.heart::before  { content: '\f08a'; }
.sidebarMenuItem.mode::before   { content: '\f104'; }

.sidebarSubmenu {
  display: none;
}

.sidebarMenuItem:hover .sidebarSubmenu{
  display: block;
}

.sidebarSubmenuItem {
  height: 50px;
  padding: 10px 10px 10px 60px;
  line-height: 30px;
}

.sidebarSubmenuItem:hover {
  background: #FFE2F2;
}

.sidebarSubmenuItem:first-child {
  display: none;
}

.sidebarMenuItem:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
}
